@model Ekip2.Presentation.Models.ForgotPasswordVMs.ForgetPasswordVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HR Management System</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!--Div for Background-->
    <div class="bg text-center">

        <!--Div for Centered Text & Input-->
        <div class="centered">

            <p class="firstLine"> S &nbsp; E &nbsp; A &nbsp; ~ &nbsp; O  </p>
            <br/>
            <p class="secondLine">HR Management System</p>
            <form id="resetPasswordForm" asp-action="ForgetPassword" asp-controller="Account" method="post" class="pt-3">
                <div class="form-group">
                   
                    <input id="mailInput" placeholder="Mail Address
                           " style="font-family:Arial, FontAwesome" type="text" maxlength="100" class="InputStyle" asp-for="Mail" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <input id="sendResetLinkBtn" type="button" value="Send Reset Link" class="btn btn-block btn-lg font-weight-medium auth-form-btn">
                </div>
            </form>
            


            @* Modal *@
            <div id="modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden flex justify-center items-center z-50">
                <div class="bg-white rounded-lg p-8 w-1/2">
                    <div class="mb-4">
                        <h2 class="text-xl font-bold">Şifre Sıfırlama Bağlantısı Gönderildi</h2>
                    </div>
                    <div>
                        <p>Şifre sıfırlama bağlantısı başarıyla gönderildi. Lütfen e-posta adresinizi kontrol edin.</p>
                    </div>
                    <div class="mt-4 flex justify-end">
                        <button id="closeModal" class="bg-red-500 text-white px-4 py-2 rounded font-bold" style="background-color: #4B49AC;">Kapat</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const closeModalBtn = document.getElementById('closeModal');
            const modal = document.getElementById('modal');
            const sendResetLinkBtn = document.getElementById('sendResetLinkBtn');
            const mailInput = document.getElementById('mailInput');
            const resetPasswordForm = document.getElementById('resetPasswordForm');

            sendResetLinkBtn.addEventListener('click', (event) => {
                // Check if mail input is empty
                if (mailInput.value.trim() === '') {
                    alert('Lütfen e-posta adresinizi girin!');
                    return;
                }

                // If email is provided, submit the form
                resetPasswordForm.submit();

                // Show modal after form submission
                modal.classList.remove('hidden');
            });

            closeModalBtn.addEventListener('click', () => {
                modal.classList.add('hidden');
            });
        });
    </script>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->

    <style>
        .bg {
            width: 100%;
            height: auto;
            min-height: 100vh;
            background-color: #8E24AA;
            background-size: 100% 100%;
            background-position: top center;
        }

        .content {
            margin-top: 20%;
        }

        .centered {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .InputStyle {
            border-radius: 25px;
            border: solid 1px white;
            background: transparent;
            width: 300px;
            padding: 10px 20px;
        }



        input, input::-webkit-input-placeholder {
            font-size: 12px;
            color: white;
        }

        .social-btn {
            position: absolute;
            bottom: 20px;
            left: 47%;
        }

        i {
            padding: 5px;
            color: white;
        }

        input, input:focus {
            border: solid 1px white;
            outline: 0;
            -webkit-appearance: none;
            box-shadow: nones;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

        .secondLine {
            font-weight: 350;
            font-size: 15px;
            margin-bottom: 15%;
            color: white;
        }

        .firstLine {
            font-size: 30px;
            color: white;
        }
        .btn-lg{
            background:white;
        }
    </style>
</body>



</html>