@model Ekip2.Presentation.Models.ForgotPasswordVMs.ResetPasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>

    <!--Div for Background-->
    <div class="bg text-center">

        <!--Div for Centered Text & Input-->
        <div class="centered">

            <p class="firstLine"> S &nbsp; E &nbsp; A &nbsp; ~ &nbsp; O  </p>
            
            <p class="secondLine">HR Management System</p>
            <form asp-action="ResetPassword" asp-controller="Account" method="post" class="pt-3">
                <div class="form-group">
                    <input id="mailInput" placeholder="New Password
                           " style="font-family:Arial, FontAwesome" type="password" maxlength="100" class="InputStyle" asp-for="Password" />

                    <div>
                        <span asp-validation-for="Password" class="text"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input id="mailInput" placeholder="Confirm Password
                           " style="font-family:Arial, FontAwesome" type="password" maxlength="100" class="InputStyle" asp-for="ConfirmPassword" />
                    <div>
                        <span asp-validation-for="ConfirmPassword" class="text"></span>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-block  btn-lg font-weight-medium auth-form-btn">Save</button>
                </div>
            </form>




        </div>
    </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->

    <style>
        .bg {
            width: 100%;
            height: auto;
            min-height: 100vh;
            background-color: #8E24AA;
            background-size: 100% 100%;
            background-position: top center;
        }

        .content {
            margin-top: 20%;
        }

        .centered {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .InputStyle {
            border-radius: 15px;
            border: solid 1px white;
            background: transparent;
            width: 300px;
            padding: 10px 20px;
        }



        input, input::-webkit-input-placeholder {
            font-size: 15px;
            color: white;
        }

    

        i {
            padding: 5px;
            color: white;
        }

        input, input:focus {
            border: solid 1px white;
            outline: 0;
            -webkit-appearance: none;
            box-shadow: nones;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

        .secondLine {
            font-weight: 350;
            font-size: 15px;
            margin-bottom: 15%;
            color: white;
           
        }

        .firstLine {
            font-size: 30px;
            color: white;
        }

        .btn-lg {
            background: white;
        }
        .text{
            color: white;
            font-size: 15px;
        }
    </style>
</body>
</html>
